.portfolio{
    margin: 0 auto;
    padding: 93px 0 145px;
    width: 100%;
    background-color: #FFFFFF;

    position: sticky;
    top: 0;
    z-index: -1;
}
@media screen and (max-width: 768px){
    .portfolio{
        padding: 25px 0;
    }
}
@media screen and (max-width: 1024px){
    .portfolio {
        position: static;
        top: 0;
        z-index: 1;
    }
}