.footer__navbar{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1140px){
    .footer__navbar {
        
    }
  }
  
@media screen and (max-width: 984px){
    .footer__navbar {

    }
  }

  @media screen and (max-width: 640px){
    .footer__navbar {
        text-align: left;
    }
}  

@media screen and (max-width: 640px){
    .footer__navbar:first-child {
        margin-left: 42px;
        margin-right: 104px;
        margin-bottom: 30px;
        text-align: left;
    }
}

@media screen and (max-width: 640px){
    .footer__navbar:last-child {
        margin-left: 42px;
    }
}

@media screen and (max-width: 375px){
    .footer__navbar {

    }
}