.portfolio__subtitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 48px;
}

@media screen and (max-width: 1140px){
    .portfolio__subtitle {
        
    }
  }
  
@media screen and (max-width: 984px){
    .portfolio__subtitle {

    }
  }
  
@media screen and (max-width: 640px){
    .portfolio__subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 375px){
    .portfolio__subtitle {
      padding-bottom: 15px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
  }
}