.footer__button{
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url("../../../images/footer/up.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer__button:hover{
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 1140px){
    .footer__button {
        
    }
  }
  
@media screen and (max-width: 984px){
    .footer__button {

    }
  }
  
@media screen and (max-width: 640px){
    .footer__button {

    }
}

@media screen and (max-width: 375px){
    .footer__button {
        bottom: 58px;
        right: 32px;
    }
  }