.footer__button{
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url("../../../images/footer/up.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}