.skills__flex {
    display: flex;
}

@media screen and (max-width: 1140px){
    .skills__flex {
        
    }
  }
  
@media screen and (max-width: 984px){
    .skills__flex {

    }
  }
  
@media screen and (max-width: 640px){
    .skills__flex {

    }
}

@media screen and (max-width: 375px){
    .skills__flex {
        flex-direction: column;
        max-width: 360px;
        width: 100%;
  }
}