.portfolio__buttons{
    position: relative;
    align-self: flex-start;
}

@media screen and (max-width: 1140px){
    .portfolio__buttons {
        
    }
  }
  
@media screen and (max-width: 984px){
    .portfolio__buttons {

    }
  }
  
@media screen and (max-width: 640px){
    .portfolio__buttons {

    }
}

@media screen and (max-width: 375px){
    .portfolio__buttons {
      display: none;
  }
}