.footer{
    margin: 0 auto;
    padding: 93px 0 70px;
    width: 100%;
    background-color: #FFFAF2;
}

@media screen and (max-width: 1140px){
    .footer {
        
    }
  }
  
@media screen and (max-width: 984px){
    .footer {

    }
  }
  
@media screen and (max-width: 640px){
    .footer {
        /* padding-left: 42px; */

    }
}

@media screen and (max-width: 375px){
    .footer {
      padding: 26px 0 0;
    }
  }